---
# Default username that Ansible should use when connecting to remote host
ansible_user: root

# Python virtual environment for k3s pip packages
venv_dir: /opt/k3s
venv_python: "{{ venv_dir }}/bin/python"

# Primary DNS IP for debian hosts /etc/systemd/resolved.conf
primary_dns_ip: "10.0.100.1"

# IP-address of first master node
first_master_ip_address: "{{ hostvars[groups['k3s_master'][0]]['ansible_default_ipv4']['address'] }}"

# The location to store rendered jinja2 templates like deployments .yaml files
output_file_location: "/home/coen/Downloads/"

k3s_token: "{{ vault_k3s_token }}"

argocd:
  deploy: true
  name: argocd-core
  namespace: argocd
  version: "stable"

kube_vip:
  deploy: true
  name: "kube-vip"
  namespace: "kube-system"
  image_tag: "v0.8.4"
  apiserver_endpoint: "10.0.100.100"
  flannel_iface: "ens18"

sealed_secrets:
  deploy: true
  name: "sealed-secrets"
  namespace: "kube-system"
  image_tag: "v0.27.1"
  sealed_secret_customkeys_2_tls_key: "{{ vault_sealed_secret_customkeys_2_tls_key }}"

tls_certificates:
  wildcard_stamx_nl:
    deploy: true
    name: "tls-wildcard-stamx-nl"
    namespaces:
      - media
      - home-automation
      - tools
  wildcard_lan_theautomation_nl:
    deploy: true
    name: "tls-wildcard-lan-theautomation-nl"
    namespaces:
      - devops
      - media
      - home-automation
      - tools

github_registry:
  credentials:
    deploy: true
    name: github-registry-creds
    namespaces:
      - devops
      - home-automation
      - tools
