---
- name: Run WOL only on reachable master node
  hosts: proxmox
  gather_facts: false
  ignore_unreachable: true
  tasks:
    - name: Ping node to check reachability
      ansible.builtin.ping:
      register: ping_result
      ignore_unreachable: true
      failed_when: false

    - name: Set reachability fact
      ansible.builtin.set_fact:
        is_reachable: "{{ ping_result.ping is defined }}"

    - name: Gather facts for reachable nodes only
      ansible.builtin.setup:
      when: is_reachable | bool

    - name: Run logic only on reachable master node
      when:
        - is_reachable | bool
        - ansible_local.proxmox.is_master | default(false) | bool
      block:
        - name: Set standby hostname fact
          ansible.builtin.set_fact:
            proxmox_standby_host:
              "{{ 'pve-b' if inventory_hostname == 'pve-a' and
              ansible_local.proxmox.is_master | bool else 'pve-a' if
              inventory_hostname == 'pve-b' and ansible_local.proxmox.is_master
              | bool }}"
          run_once: true

        - name: Show standby hostname
          ansible.builtin.debug:
            msg: "Standby node is {{ proxmox_standby_host }} mac: {{ vars[proxmox_standby_host]['mac_address'] }}"
          run_once: true

        - name: Wake up standby Proxmox node {{ proxmox_standby_host }} using Wake-on-LAN
          community.general.wakeonlan:
            mac: "{{ vars[proxmox_standby_host]['mac_address'] }}"
            broadcast: 255.255.255.255
          run_once: true
          changed_when: true

        - name: Wait for standby Proxmox node to become reachable
          ansible.builtin.wait_for:
            host: "{{ hostvars[proxmox_standby_host].ansible_host }}"
            port: 22
            timeout: 300
            state: started
          run_once: true
